body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatview{
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 0;
}

#canvas{
    display: none;
}

#image{
  position: fixed;
  /*top: 20; left: 20; bottom: 20; right: 20;*/
  width: 100%; height: 100%;
  opacity: 1.0;
  z-index: 1;
}

#video{
  position: fixed;
  z-index: 4;
  bottom: 2em; right: 2em;
  width: 16em; height: 12em;
  box-shadow: 2px 2px 1px #888888;
}

.button_container{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10em;
  z-index: 2;
}

.bt{
  border-radius: 50px;
}

#appname{
  position: fixed;
  top: 1em;
  right: 1em;
  font-weight: bolder;
  z-index: 5;
  color: rgba(0, 0, 0, 0.5);
}
